<h1>Device Name: Motor</h1>
<table>
    <tr>
        <th>ID</th>
        <th>State</th>
        <th>Time</th>
        <th>Alert</th>
        <th>Reason</th>
    </tr>
    
    
    <% data.forEach(function(item, index){ %>
        <tr>
            <td><%= item._id%></td>
            <td><%= item.state %></td>
            <td><%= item.time %></td>
            <td><%= item.alert %></td>
            <td><%= item.reason %></td>
        </tr>
        
    <% }); %>
    
    
</table>
